body{
    background-color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.p1{
    color:rgb(5, 58, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:  0.24px;
}

.imag1{
  width: 30%;
  text-align: center; 
  margin: 0 auto;
  display: block; 
}

.p2{
  text-align: center;}

.p3{
  text-align: center;
}

.p4{
  text-align: center;
}

.p5{
  text-align: center;
}
.p6{
  text-align: center;
}

.p7{
  text-align: center;
}
.sp1{
  text-align: center;
}
  
.ha1{
  text-align: center;
  font-size: 40px;
  color:rgb(5, 58, 0);
  font-family: Arial, Helvetica, sans-serif;
}

.table-container {
    margin: 0 auto;
    width: 70%; 
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
  }
  
  caption {
    font-weight: bold;
    margin-bottom: 10px;
  }

.lc1{
    color: rgb(5, 58, 0);
    text-align: center;
    font-size: 40px;
}

.p8{
  text-align: center;
}

.p9{
  text-align: center;
}

.p10{
  text-align: center;
}

.p11{
  text-align: center;
}

.p12{
  text-align: center;
}

.al1{
    list-style-type: disc;
    color: rgb(5, 58, 0);
    font-size: 40px;
}

.yt01{
  text-align: center;
  color: rgb(5, 58, 0);
  font-size: 40px;
}

.yt1{
    display: block;
    margin: 0 auto;
}

.md1{ 
  text-align: center;
  font-size: 40px;
  color: rgb(5, 58, 0);
}

.m3{
  font-size: 20px;

}

.pet1{
    text-align: center;
    font-size: 40px;
    color: rgb(5, 58, 0);
}


.pet2{
    display: block;
    margin: 0 auto;
  }

  .pet3{
    text-align: center;
    text-decoration: underline;
  }

  .pet4{
    color: green;
    text-decoration: underline;
  }


